/build
/compressed_10.jpg
/compressed_20.jpg
/compressed_30.jpg
/compressed_40.jpg
/compressed_50.jpg
/compressed_60.jpg
/compressed_70.jpg
/compressed_80.jpg
/compressed_90.jpg
/compressed_99.jpg
/Figure_1.png
/Figure_2.png
/Jakub Puszkiewicz - Kompresja Obrazu v2.zip
/lab2.7z
/oof.jpg
/original_image
/original_image.jpg
/psnr.json
/results.json
/skr3.spec
/Sprawozdanie.docx
/Sprawozdanie.pdf
/test.jpg
/__pycache__
/{633B7A72-ACC0-418E-8ACA-40DD5412FA84}.tmp